@model ResetPasswordViewModel


<div id="id10" class="modal">
	<span style="color:#fff;margin-top:10px;margin-right:20px;" onclick="document.getElementById('id10').style.display='none'" class="close" title="Close Modal">x</span>
	<center id="itscenter10">
		<form style="width:30%;margin-top:5%;" class="modal-content" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="ResetPassword" method="post">
			<div class="container-modal" style="margin: 20px 10px 10px 10px;">
				<h3 style="margin-bottom:5px !important;">Form Reset Password</h3>
				<input type="hidden" asp-for="Code" value="@Model.Code" />
				<label class="fleft" for="email"><b>Email</b></label><br />
				<input class="input-reg" type="text" placeholder="" asp-for="Email" required>

				<label class="fleft" for="psw"><b>Password</b></label>
				<input class="input-reg" type="password" placeholder="" asp-for="Password" required>
				<label class="fleft" for="psw"><b>Confirm Password</b></label>
				<input class="input-reg" type="password" placeholder="" asp-for="ConfirmPassword" required>

				<div class="clearfix">
					<div style="float:left;">
						<button style="float:right;" class="button-cancel" type="button" onclick="document.getElementById('id10').style.display='none'"><center>Cancel</center></button>
					</div>
					<div style="float:right;">
						<button style="float:right;" class="button-login" type="submit"><center>Submit</center></button>
					</div>
				</div>

			</div>
		</form>
	</center>
</div>

<div id="id13" class="modal">
	<span style="color:#fff;margin-top:10px;margin-right:20px;" onclick="document.getElementById('id13').style.display='none'" class="close" title="Close Modal">x</span>
	<center id="itscenter13">
		<form style="width:30%;margin-top:5%;" class="modal-content" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="ExternalLoginConfirmation" method="post">
			<div class="container-modal" style="margin: 20px 10px 10px 10px;">
				<h3 style="margin-bottom:5px !important;">Form Register</h3>

				<label class="fleft" for="email"><b>Email</b></label><br />
				<input class="input-reg" type="text" placeholder="" name="Email" value="@Model.Email" required>


				<div class="clearfix">
					<div style="float:left;">
						<button style="float:right;" class="button-cancel" type="button" onclick="document.getElementById('id13').style.display='none'"><center>Cancel</center></button>
					</div>
					<div style="float:right;">
						<button style="float:right;" class="button-login" type="submit"><center>Submit</center></button>
					</div>
				</div>

			</div>
		</form>
	</center>
</div>





@if (ViewBag.notif_reset == "reset")
{
	<script>
		document.getElementById('id10').style.display = 'block';
	</script>
}
@if (ViewBag.notif_reset == "register_oauth")
{
	<script>
		document.getElementById('id13').style.display = 'block';
	</script>
}