@{
	ViewData["Title"] = "Opportunity";
}
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/event.css" rel="stylesheet">
<style>
	.post-content-title {
		width: 85%;
		background-color: black;
		border-radius: 30px;
		margin-top: 58%;
		margin-left: 8%;
		text-align: center;
		font-size: 13px;
		color: white;
	}
</style>

<div id="preloader" class="modal">
	<center>
		<img class="img-loader" src="~/loader.gif" />
	</center>
</div>
<main id="main">

	<!--==========================
	  About Us Section
	============================-->
	@Html.Partial("_menu_header")
	@Html.Partial("_menu_content")


</main>