@{
	ViewData["Title"] = "Home";
}
<div id="preloader" class="modal">
	<center>
		<img class="img-loader" src="~/loader.gif" />
	</center>
</div>
<main id="main">

	<!--==========================
	  About Us Section
	============================-->

	@Html.Partial("_about")
	@Html.Partial("_features")


</main>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/home_auth.js"></script>
<!-- Google Map -->
