<!--==========================
	  Fasilitas Section
	============================-->
<section id="features" style="padding-top:15px !important;">
	<div class="container">

		<div class="row">
			<div class="col-12" style="border-bottom:2px solid grey;padding-top:10px;">
				<h4 style="font-weight:bold;">Event Terbaru</h4>
			</div>
		</div>

		<span id="data"></span>

		<div class="col-8 text-right" style="    margin-top: 1%;
    margin-bottom: 10%;float:right;" id="navigationButton">
		</div>
	</div>

</section><!-- #features -->
<script src="~/js/jquery-2.2.4.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="~/js/jquery.twbsPagination.js"></script>
<script src="~/js/gantiBahasaTanggal.js"></script>
<script>
	var result_paging;
	$('#preloader').show();   
	$('#navigationButton').twbsPagination({
		
		visiblePages: 5,
		onPageClick: function (event, page) {
			$("#data").empty();
			$.getScript("/jquery-dateformat.min.js", function () {

				$.ajax({
					type: "GET",
					url: "http://web-api-dilo-web.apps.playcourt.id/api/services/app/API/GetEventGroupByDate?page=" + page + "&item_perpage=2&tenantId=" + @ViewBag.tenantid+"",
					contentType: "application/json;",
					dataType: "json",
					beforeSend: function () {
						$('#preloader').show();
					},
					complete: function () {
						$('#preloader').hide();
					},
					async: false,
					success: function (data) {
						//alert(JSON.stringify(data));
						$("#DIV").html('');
						var penghitung = 1;
                        $.each(data.result["data"], function (i, item) {
                            if (item.data.length > 0) {
                                var rows = "<label style='margin-top:20px;'><h4><strong>" + $.format.date(item.keyword, "dd") +
                                    " " + cari(2, $.format.date(item.keyword, "MMMM")) + "</strong></br>" + $.format.date(item.keyword, "yyyy") + "</h4></label ></br >" +
                                    "<div class='event' style='margin-top:15px;border-bottom:2px solid grey;'>" +
                                    "<div id='isi" + penghitung + "'>" +
                                    "</div>" +
                                    "</div>";
                                $("#data").append(rows);
                                var hitung = 1;
                                $.each(item.data, function (j, eventItem) {
                                    var harga = "Free";
                                    if (eventItem.price != 0) { var harga = "Rp" + eventItem.price; }
                                    if (eventItem.start_date == eventItem.end_date) {
                                        var tgl = cari(3, $.format.date(item.keyword, "E")) + "," + $.format.date(eventItem.start_date, " dd") + " " + cari(4, $.format.date(item.keyword, "MMM")) + " " + $.format.date(eventItem.start_date, " yyyy");
                                    }
                                    else { var tgl = cari(3, $.format.date(item.keyword, "E")) + "," + $.format.date(eventItem.start_date, " dd MMM  yyyy") + "-" + cari(3, $.format.date(eventItem.end_date, "E")) + "," + $.format.date(eventItem.end_date, " dd MMM  yyyy"); }
                                    if (hitung % 2 == 1) {
                                        var rows = "<div class='column'>" +
                                            "<a href='/@ViewBag.dilolokal/event/detail/" + eventItem.id + "'>" +
                                            " <!-- Post-->" +
                                            "<div class='post-module'>" +
                                            " <!-- Thumbnail-->" +
                                            " <div class='thumbnail'>" +
                                            "  <div class='date'>" +
                                            "       <div class='day'></div>" +
                                            "        <div class='month'></div>" +
                                            "   </div>" +
                                            "  <img src='" + eventItem.picture + "' />" +
                                            "</div>" +
                                            "<!-- Post Content-->" +
                                            "<div class='post-content'>" +
                                            " <div class='category'></div>" +
                                            " <div class='label'>" + harga + "</div>" +
                                            " <label>" + tgl + " " + $.format.date(eventItem.time_start, "H:mm") + " WIB</label>" +
                                            " <label><strong>" + eventItem.title + "</strong></label>" +
                                            " <label>" + eventItem.tenantName + "</label>" +
                                            "<p class='description'>" + eventItem.description.substring(0, 75) + "...</p>" +
                                            "<div class='post-meta'>" +
                                            "</div>" +
                                            " </div>" +
                                            "</div>" +
                                            "</a>" +
                                            "</div>";
                                    }
                                    else {
                                        var rows = "<div class='column'>" +
                                            "<a href='/@ViewBag.dilolokal/event/detail/" + eventItem.id + "'>" +
                                            " <!-- Post-->" +
                                            "<div class='post-module'>" +
                                            " <!-- Thumbnail-->" +
                                            " <div class='thumbnail'>" +
                                            "  <div class='date'>" +
                                            "       <div class='day'></div>" +
                                            "        <div class='month'></div>" +
                                            "   </div>" +
                                            "  <img src='" + eventItem.picture + "' />" +
                                            "</div>" +
                                            "<!-- Post Content-->" +
                                            "<div class='post-content post-white-bg'>" +
                                            " <div class='category'></div>" +
                                            " <div class='label'>" + harga + "</div>" +
                                            " <label>" + tgl + " " + $.format.date(eventItem.time_start, "H:mm") + " WIB</label>" +
                                            " <label><strong>" + eventItem.title + "</strong></label>" +
                                            " <label>" + eventItem.tenantName + "</label>" +
                                            "<p class='description'>" + eventItem.description.substring(0, 75) + "...</p>" +
                                            "<div class='post-meta'>" +
                                            "</div>" +
                                            " </div>" +
                                            "</div>" +
                                            "</a>" +
                                            "</div>";
                                    }

                                    $("#isi" + penghitung).append(rows);
                                    hitung = hitung + 1;
                                });
								penghitung = penghitung + 1;
								
                            }
						});
						var paging = data.result.totalData;

						if (paging <= 4) {
							result_paging = 1;
						}
						else if (paging <= 8) {
							result_paging = 2;
						}
						else if (paging <= 12) {
							result_paging = 3;
						}
						else if (paging <= 16) {
							result_paging = 4;
						}
						else if (paging <= 20) {
							result_paging = 5;
						}
					}, //End of AJAX Success function

					failure: function (data) {
					}, //End of AJAX failure function
					error: function (data) {
					} //End of AJAX error function

				});
			});
		},
		totalPages: result_paging
	});
	//$('#filter').click(function () {
	//$(document).on('click', '#filter', function () {
	$('body').delegate('#filter', 'click', function () {
		//empty div
		$('#navigationButton').empty();
		//destroy twbsPagination Data
		$('#navigationButton').removeData("twbs-pagination");
		$('#navigationButton').unbind("page");
		$.getScript("/js/jquery.twbsPagination.js", function () {
			var kota = "";
			var dateRange = "";
			if ($('#kota').val() != 0) {
				kota = $('#kota').val();
			}
			if ($('#dateRange').val() != 0) {
				dateRange = $('#dateRange').val();
			}
			$('#navigationButton').twbsPagination({
				
				visiblePages: 5,
				onPageClick: function (event, page) {
					$("#data").empty();
					$.getScript("/jquery-dateformat.min.js", function () {
						$.ajax({
							type: "GET",
							url: "http://web-api-dilo-web.apps.playcourt.id/api/services/app/API/GetEventGroupByDate?page=" + page + "&item_perpage=2&tenantId=" + @ViewBag.tenantid + "&dateRange=" + dateRange + "",
							contentType: "application/json;",
							dataType: "json",
							beforeSend: function () {
								$('#preloader').show();
							},
							complete: function () {
								$('#preloader').hide();
							},
							async: false,
							success: function (data) {
								//alert(JSON.stringify(data));
								$("#DIV").html('');
								var penghitung = 1;
								$.each(data.result["data"], function (i, item) {
									if (item.data.length > 0) {
										var rows = "<label style='margin-top:20px;'><h4><strong>" + $.format.date(item.keyword, "dd") +
											" " + cari(2, $.format.date(item.keyword, "MMMM")) + "</strong></br>" + $.format.date(item.keyword, "yyyy") + "</h4></label ></br >" +
											"<div class='event' style='margin-top:15px;border-bottom:2px solid grey;'>" +
											"<div id='isi" + penghitung + "'>" +
											"</div>" +
											"</div>";
										$("#data").append(rows);
										var hitung = 1;
										$.each(item.data, function (j, eventItem) {
											var harga = "Free";
											if (eventItem.price != 0) { var harga = "Rp" + eventItem.price; }
											if (eventItem.start_date == eventItem.end_date) {
												var tgl = cari(3, $.format.date(item.keyword, "E")) + "," + $.format.date(eventItem.start_date, " dd") + " " + cari(4, $.format.date(item.keyword, "MMM")) + " " + $.format.date(eventItem.start_date, " yyyy");
											}
											else { var tgl = cari(3, $.format.date(item.keyword, "E")) + "," + $.format.date(eventItem.start_date, " dd MMM  yyyy") + "-" + cari(3, $.format.date(eventItem.end_date, "E")) + "," + $.format.date(eventItem.end_date, " dd MMM  yyyy"); }
											if (hitung % 2 == 1) {
												var rows = "<div class='column' >" +
													"<a href='/@ViewBag.dilolokal/event/detail/" + eventItem.id + "'>" +
													" <!-- Post-->" +
													"<div class='post-module'>" +
													" <!-- Thumbnail-->" +
													" <div class='thumbnail'>" +
													"  <div class='date'>" +
													"       <div class='day'></div>" +
													"        <div class='month'></div>" +
													"   </div>" +
													"  <img src='" + eventItem.picture + "' />" +
													"</div>" +
													"<!-- Post Content-->" +
													"<div class='post-content'>" +
													" <div class='category'></div>" +
													" <div class='label'>" + harga + "</div>" +
													" <label>" + tgl + " " + $.format.date(eventItem.time_start, "H:mm") + " WIB</label>" +
													" <label><strong>" + eventItem.title + "</strong></label>" +
													" <label>" + eventItem.tenantName + "</label>" +
													"<p class='description'>" + eventItem.description.substring(0, 75) + "...</p>" +
													"<div class='post-meta'>" +
													"</div>" +
													" </div>" +
													"</div>" +
													"</a>" +
													"</div>";
											}
											else {
												var rows = "<div class='column'>" +
													"<a href='/@ViewBag.dilolokal/event/detail/" + eventItem.id + "'>" +
													" <!-- Post-->" +
													"<div class='post-module'>" +
													" <!-- Thumbnail-->" +
													" <div class='thumbnail'>" +
													"  <div class='date'>" +
													"       <div class='day'></div>" +
													"        <div class='month'></div>" +
													"   </div>" +
													"  <img src='" + eventItem.picture + "' />" +
													"</div>" +
													"<!-- Post Content-->" +
													"<div class='post-content post-white-bg'>" +
													" <div class='category'></div>" +
													" <div class='label'>" + harga + "</div>" +
													" <label>" + tgl + " " + $.format.date(eventItem.time_start, "H:mm") + " WIB</label>" +
													" <label><strong>" + eventItem.title + "</strong></label>" +
													" <label>" + eventItem.tenantName + "</label>" +
													"<p class='description'>" + eventItem.description.substring(0, 75) + "...</p>" +
													"<div class='post-meta'>" +
													"</div>" +
													" </div>" +
													"</div>" +
													"</a>" +
													"</div>";
											}

											$("#isi" + penghitung).append(rows);
											hitung = hitung + 1;
										});
										penghitung = penghitung + 1;
									}
								});
								var paging = data.result.totalData;

								if (paging <= 4) {
									result_paging = 1;
								}
								else if (paging <= 8) {
									result_paging = 2;
								}
								else if (paging <= 12) {
									result_paging = 3;
								}
								else if (paging <= 16) {
									result_paging = 4;
								}
								else if (paging <= 20) {
									result_paging = 5;
								}
							}, //End of AJAX Success function
							failure: function (data) {
							}, //End of AJAX failure function
							error: function (data) {
							} //End of AJAX error function
						});
					});
				},
				totalPages: result_paging
			});
		});
	});
</script>