<!--==========================
  Tentang Kami Section
============================-->
<section id="features">
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="breadcamb">
					<a asp-controller="Home" asp-action="Index" style="color:grey;">Home</a>
					<!-- <i style="color:black;" class="fa fa-instagram"></i> -->
					<label style="color:black;">>></label>
					<a asp-controller="Event" asp-action="Index" style="color:black;">Event & Program</a>
				</div>
			</div>
            <div class="col-12">
                <p class="description">
                    DILo memiliki program & event yang dapat membekali calon digitalpreneur untuk memenuhi, membangun dan mengembangkan bisnis dalam sektor kreatif digital. Diantaranya adalah
                    <ul>
                        <li>DILo Academy (Talent profiling)</li>
                        <li>Serial Workshop (Teknis, Desain, Bisnis)</li>
                        <li>Expert Session (Seminar live streaming di seluruh DILo Indonesia)</li>
                        <li>DILo Goes to Campus (Roadshow)</li>
                        <li>DILoPAD (DILo Pre-Startup Development)</li>
                        <li>DILo Hackathon Festival (Kompetisi, Seminar & Pameran)</li>
                        <li>Startup & Komunitas Gathering (Sharing Session)</li>
                    </ul>
                    </br></br>
                    Yuk kembangin kemampuan Kamu dengan ikutan salah satu program & event DILo di bawah ini:
                </p>
            </div>
            <div class="col-3">
                <div class="event-filter">
                    <Label>Pilih Periode</Label>
                    <select class="select-event" id="dateRange">
                        <option value="0">Semua</option>
                        <option value="1">Hari Ini</option>
                        <option value="2">Besok</option>
                        <option value="3">Minggu Ini</option>
                        <option value="4">Minggu Depan</option>
                        <option value="5">Bulan Ini</option>
                        <option value="6">Bulan Depan</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="event-filter-button">
                    <Label>&nbsp; </Label>
                    <a href="#" style="background:black; color:#fff; padding:6px 20px;border:1px solid black; border-radius:5px; width:400px;" id="filter">Tampilkan</a>
                </div>
            </div>

		</div>
	</div>

</section><!-- #features -->
<script src="~/js/jquery-2.2.4.min.js"></script>