@{
	ViewData["Title"] = "Berita";
}
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/event.css" rel="stylesheet">
<div id="preloader" class="modal">
	<center>
		<img class="img-loader" src="~/loader.gif" />
	</center>
</div>
<main id="main">

	<!--==========================
	  About Us Section
	============================-->
	@Html.Partial("_content_detail")


</main>