<!--==========================
  Tentang Kami Section
============================-->
<section id="features">
	<div class="container">

        <div class="row">
            <div class="col-12">
                <div class="breadcamb">
                    <a asp-controller="Home" asp-action="Index" style="color:grey;">Home</a>
                    <!-- <i style="color:black;" class="fa fa-instagram"></i> -->
                    <label style="color:black;">>></label>
                    <a asp-controller="Lowongan" asp-action="Index" style="color:black;">Opportunity</a>
                </div>
            </div>
            <div class="col-12">
                <p class="description">
                    DILo sebagai Hub dan wadah bagi talent, startup & komunitas ini, menyediakan peluang bagi kalian yang ingin mencari talent serta informasi promo kegiatan kalian untuk dapat kami informasikan kepada member agar dapat berkontribusi dan berkolaborasi.
                    <br />
                    Untuk Info lebih lanjut dapat menghubungi kontak di <a href="mailto:pr@dilo.id " target="_top">pr@dilo.id </a>
                </p>
            </div>
            <div style="margin-left:14px;">
                <Label>Tampilkan</Label>
            </div>
            <div class="col-3">


                <select class="select-lowongan" style="padding: 4px 55px 5px 10px;" id="selectId">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>

            </div>


        </div>
	</div>

</section><!-- #features -->
