@{
	ViewData["Title"] = "Kunjungan Page";
}
<main id="main">

	<!--==========================
	  About Us Section
	============================-->
	@Html.Partial("_features")


</main>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/home_auth.js"></script>